body {
  text-align: center;
  font-family: sans-serif;
  padding: 20px;
  line-height: 1.6;
  background-color: #FFEBD4;
}


.career-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: #ffc6c6;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: center;
}

#career-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 60px 20px; /* 40px ระยะห่างระหว่างแถว, 20px ระยะห่างระหว่างคอลัมน์ */
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.career-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;}

a {
  text-align: center;
  color: #BE5985;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-align: center;
  text-decoration: underline;
}
.career-img {
  text-align: center;
  width: 100%;
  max-width: 300px;
  border-radius: 12px;
  margin-bottom: 15px;
}
.main-header {
  background-color: #FFB8E0;
  color: #BE5985;
  padding: 20px 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 2px 5px rgb(255, 237, 250);
}

.main-footer {
  background-color: #FFB8E0;
  color: #BE5985;
  padding: 30px 20px;
  text-align: center;
  margin-top: 50px;
  font-size: 14px;
}
h2 {
  color: #BE5985; /* ชื่ออาชีพ */
}
p {
  color: #BE5985; /* คำอธิบาย */
}
.detail-button {
  align-self: center;
  padding: 10px 20px;
  background-color: #f0a8d0;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.detail-button:hover {
  background-color: #d96ca9;  /* ชมพูเข้มเมื่อ hover */
}
.back-button {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #f0a8d0;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #d96ca9;
  cursor: pointer;
}